@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
  max-width: 1320px;
  margin: auto;
}
.ant-tabs .ant-tabs-ink-bar {
  background:  red!important;
  
}
.ant-select-outlined {
  border-color:  red!important;
}